body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

#inputContainer {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 10px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    background-color: white;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
}

.overlay {
    width: 100%; 
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.button {
    justify-self: center;
}